<!doctype html>
<html lang="en" ng-app='omnigrahm'>
<head>
  <title>Omnigrahm</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller='AppController' data-ng-init="init()">
  <div id='app'>
    <div class='header'>
    <h1>Omnigrahm</h1>
    <form id='main-form' ng-controller='FormController as form'>
      <input
        class='input city-name' type='text'
        ng-autocomplete ng-model='fieldText' ng-change='triggerChange()' placeholder='San Francisco'
        details='currentCity' options='cities'
        />
      <input class='input submit' type='submit' value='Search' ng-click='submitForm()'/>
    </form>
    </div>
    <div class='svg-map' ng-class='activeClasss'></div>
  </div>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/topojson/topojson.js"></script>
  <script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
  <script src="js/graph.js"></script>
  <script src='js/main.js'></script>
</body>
</html>
