<!doctype html>
<html lang="en" ng-app='omnigrahm'>
<head>
  <title>omnigrahm</title>

  <meta charset="UTF-8">
  <link href="../bower_components/c3/c3.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body ng-controller="PanelController as panel">
  <button ng-click="panel.selectTab(1)">USER</button>
  <button ng-click="panel.selectTab(2)">LOCATION</button>
  <!-- <div class="indexView" ui-view></div> -->
  <div ng-show="panel.isSelected(1)" ng-controller='userController' ng-init='getUserFeed()'>
    <form>
      <input ng-model="user" placeholder="Enter username">
      <button ng-click='getUserFeed(user)'>Get Stuff</button>
    </form>
    <div id="userChart"></div>
    <div id="userImages" class="imageScroll">
      <table>
        <tr>
          <td ng-repeat="image in instaImages">
            <img ng-src="{{image[0]}}"/>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div ng-show="panel.isSelected(2)" ng-controller='locationController' ng-init="getLocFeed()">
      <form name="inputLocation" ng-submit="getLocFeed(loc)">
          <input ng-model="loc" placeholder="Enter location">
          <button>get location stuff</button>
      </form>
   
    <div id="locationChart"></div>
    <div class="imageScroll">
      <table>
        <th>Happy</th>
        <tr>
          <td ng-repeat="picture in images.positive track by $index" ng-click="redirect(picture[1])">
            <img ng-src="{{picture[0]}}"></img>
          </td>
        </tr>
      </table>
    </div>
    <div class="imageScroll">
      <table>
        <th>Sad</th>
        <tr>
          <td ng-repeat="picture in images.negative track by $index" ng-click="redirect(picture[1])">
            <img ng-src="{{picture[0]}}"></img>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/oauth-js/dist/oauth.min.js"></script>
  <script src="../bower_components/d3/d3.min.js"></script>
  <script src="../bower_components/c3/c3.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>

  <script src="./user/user.js"></script>
  <script src="./location/location.js"></script>

  <script src="./app.js"></script>
</body>
</html>
