// http://coolors.co/eca400-87bcde-006992-27476e-001d4a
$gold: #ECA400;
$light-blue: #87BCDE;
$blue_1: #006992;
$blue_2: #27476E;
$red: #FF3E41; // #FF3E41, #BA2D0B, #E8AEB7
$dark-blue: #001D4A;
$green: #4CB963; // #B9D8C2, #157F1F, #4CB963, #D2F898, #40FD65

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.background {
  pointer-events: all;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

#app {
  position:relative;
  min-height: calc(90% - 10px);
  margin: 0 auto;
  width: 1202px;
  border: solid 1px $dark-blue;
  overflow: hidden;
}

#modal-overlay {
  position:absolute;
  top:50px;
  left:0;
  width:100%;
  height:calc(100% - 50px);
  background-color:$blue_2;
  opacity:0.4;
  z-index: 1000;
}
#modal-box {
  position:absolute;
  top:calc(50% - 100px);
  left:calc(50% - 150px);
  padding:20px;
  width:300px;
  height: 200px;
  text-align:left;
  color:#FFF;
  background-color:$blue_2;
  box-shadow:2px 2px 20px #666, -2px -2px 20px #666;
  z-index: 1000;
  h2 {
    margin:0 0 20px 0;
  }
  div {
    margin-bottom:10px;
  }
  // &.transitionIn {
  //   -webkit-animation:transitionIn 0.5s linear; animation:transitionIn 0.5s linear;
  // }
}

// @-webkit-keyframes transitionIn {
//   from {-webkit-transform:rotate(0deg);}
//   to {-webkit-transform:rotate(90deg);}
// }
// @keyframes transitionIn {
//   from {transform:rotate(0deg);-webkit-transform:rotate(0deg);}
//   to {transform:rotate(90deg);-webkit-transform:rotate(90deg);}
// }

.header {
  $header_height: 50px;
  height: $header_height;
  background-color: $blue_2;
  border-bottom: solid 1px $dark-blue;
  h1 {
    float:left; 
    color: white;
    margin: 0;
    padding: 5px;
    font-size: 2em;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    letter-spacing: 0.03em;
    padding-left: 20px;
    &:hover {
      background: $dark-blue;
      cursor: pointer;
    }
  }
  #info {
    float:right;
    margin: 9px 20px 0 0;
    width: 30px;
    height: 30px;
    background-color:white;
    line-height:30px;
    text-align:center;
    font-weight:bold;
    border-bottom: 5px solid #9DC0EA;
    font-size: 20px;
    border-radius: 50%;
    cursor:pointer;
  }
  #info:hover {
    background-color: #9DC0EA;
  }
  #main-form {
    display: inline-block;
    width: 69%;
    box-sizing: border-box;
    float: right;
    height: $header_height;
    position: relative;
    input {
      border: 0px;
      font-size: 1.75em;
      display: inline-block;
      height: $header_height - 1px;
      -webkit-appearance:none;
      &:focus {
        outline: solid 2px $gold;
      }
      &[type='text'] {
        padding: 0 15px;
        width: calc(100% - #{$header_height});
        box-shadow: inset 0 0 20px rgba(0,0,0,0.15);
      }
      &[type='submit'] {
        color: transparent;
        background-color: $dark-blue;
        background-image: url(search.svg);
        background-size: 55% 55%;
        background-position: center center;
        background-repeat: no-repeat;
        text-transform: uppercase;
        height: $header_height;
        width: $header_height;
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: inset 0 0 20px rgba(0,0,0,0.55);
        cursor: pointer;
      }
    }
  }
}

.svg-map {
  opacity: 0;
  transition: opacity 1.5s ease;
  &.active {
    opacity: 1;
    transition: opacity 1.5s ease;
  }

  #states {
    z-index: -100;
  }

  svg {
    background: white;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;

    rect {
      fill: none;
    }

    .city-container {
      &.centered {
        g.city {
          opacity: 0.1;
          transition: opacity 0.5s ease;
        }
      }

    }

    g.city {
      transition: opacity 1s ease;
      &.transition-done {
        .text {
          transition: opacity 0.5s ease;
          opacity: 1;
        }
      }
      &.centered {
        z-index: 999;
        opacity: 1 !important;
        transition: opacity 0.5s ease;
        .text.city-name {
          opacity: 1;
          transition: opacity 1s ease;
        }
      }
      .text {
        font-size: 6px;
        text-anchor: middle;
        dominant-baseline: central;
        opacity: 0;
        transition: opacity 0.5s ease;
        &.positive {
          fill: darken($green, 10%);
        }
        &.negative {
          fill: darken($red, 30%);
        }
        &.city-name {
          opacity: 0.1;
          transition: opacity 1s ease;
        }
      }
    }

    circle.city {
      cursor: pointer;
      &.neutral {
        fill: rgba(#ccc, 0.5);
        stroke: rgba(darken(#ccc, 20%), 0.7);
      }
      &.positive {
        fill: rgba($green, 0.85);
        stroke: darken($green, 20%);
      }
      &.negative {
        fill: rgba($red, 0.85);
        stroke: darken($red, 20%);
      }
    }
  }
  #states {
    fill: #f7f7f7;
    stroke:  #001D4A;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
    .active {
        fill: orange;
      }
  }
  #national-border {
    fill: none;
    stroke:#001D4A;
    // stroke-linejoin: round;
    // stroke-linecap: round;
    // pointer-events: none;
    stroke-width: 1px;
  }
  #state-borders {
    fill: none;
    stroke:#001D4A;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }
}

.pac-container {
  &:after {
    display: none;
    height: 0;
  }
}